<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
        
    <!-- 自动注册注解适配器和注解映射器 -->   
    <mvc:annotation-driven/> 
    
    <context:component-scan base-package="cn.sxt.controller"/>
    
    <!--
    静态资源请求url，直接找到静态资源物理目录
    	mapping 静态资源请求url    /static/js/jquery.min.js  /static/themes/icon.css
    	location  物理目录
      -->
   <mvc:resources location="/static/" mapping="/static/**"></mvc:resources> 
    
        <mvc:interceptors>
     	<mvc:interceptor>
     		<mvc:mapping path="/**"/>
     		<mvc:exclude-mapping path="/static/**"/>
     		<bean class="cn.sxt.interceptor.LoginInterceptor"></bean>
     	</mvc:interceptor>
<!--      	<mvc:interceptor>
     		<mvc:mapping path="/**"/>
     		<mvc:exclude-mapping path="/static/**"/>
     		<bean class="cn.sxt.interceptor.UrlInterceptor"></bean>
     	</mvc:interceptor>  -->
     </mvc:interceptors> 
     
     	<!--CommonsMultipartResolver 文件上传组件 实现和客户端io流交互，得到临时文件 maxUploadSize 设置最大上传容量 
		单位字节 1024*1024=1m 1048576 5m 5242880 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5242880"></property>
	</bean>
     
  
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<!--进行视图渲染，找到jsp页面，利用jstl标签进行视图展示  -->
   		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
   		<!-- 从控制器返回的逻辑视图名：/goods/list
   		真实视图名：prefix+逻辑视图名+后缀
   				/WEB-INF/+/goods/list+ .jsp=/goods/list.jsp
   		 -->
   		<property name="prefix" value="/"/>
   		<property name="suffix" value=".jsp"/>
   </bean>
</beans>